<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>PirateLightClientKit.SDKSynchronizer</string>
		<string>io.meshbits.piratewallet.ios.backgroundAppRefreshTask</string>
		<string>io.meshbits.piratewallet.ios.backgroundProcessingTask</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.meshbits.piratewallet.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>arrr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.meshbits.piratewallet.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pirate</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Barlow-Regular.ttf</string>
		<string>Zboto.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
