<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>PirateLightClientKit.SDKSynchronizer</string>
		<string>io.meshbits.piratewallet.ios.backgroundAppRefreshTask</string>
		<string>io.meshbits.piratewallet.ios.backgroundProcessingTask</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIAppFonts</key>
	<array>
		<string>Barlow-Regular.ttf</string>
		<string>Zboto.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Scan Arrr Address based Qr Codes</string>
	<key>NSFaceIDUsageDescription</key>
	<string>We might require you to use Biometric ID or pin to Authorize payments</string>
</dict>
</plist>
